.introduction {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;

	@include respond-min(40em) {
		padding: 1.5rem;
	}

	&__title,
	&__description {
		margin-bottom: 2rem;
	}

	&__icon-example {
		@include icon;
		@include icon-twitter;
	}
}
