<header class="introduction" data-module="Introduction" data-options='{"message": "Hello world."}'>
    <h1 class="introduction__title">Frontend Blueprint</h1>
	<p class="introduction__description">A blueprint to speed up the development of a new website.</p>
	<span class="icon-pinterest"></span>
	<span class="introduction__icon-example"></span>
</header>
