// Custom template - https://www.npmjs.com/package/gulp-svg-sprites#advanced-custom-templates
// View output in /src/static/scss/config/_icons.scss

@mixin <%=common %> {
	content: '';
	font-size: 1rem;
	pointer-events: none;
	vertical-align: middle;
	display: inline-block;
	background-image: url('<%=svgPath%>');
	background-repeat: no-repeat;
	background-size: <%= relWidth * .625 %>rem <%= relHeight * .625 %>rem;
}

<% _.forEach(svg, function(svgItem) { %>@mixin <%=svgItem.name%> {
	background-position: <%= svgItem.relPositionX * .625 %>rem <%= svgItem.relPositionY * .625 %>rem;
	width: <%= svgItem.relWidth * .625 %>rem;
	height: <%= svgItem.relHeight * .625 %>rem;
}

<% }); %>

[class^='<%=common %>'],
[class~='<%=common %>'] {
	position: relative;
	display: inline-block;

	&::before {
		@include <%=common %>;
	}
}

<% _.forEach(svg, function(svgItem) { %>.<%=svgItem.name%>::before {
	@include <%=svgItem.name%>;
}

<% }); %>
