@mixin respond-min($media) {
	@media (min-width: $media) {
		@content;
	}
}

@mixin respond-max($media) {
	@media (max-width: $media) {
		@content;
	}
}

@mixin respond-between($minMedia, $maxMedia) {
	@media (min-width: $minMedia) and (max-width: $maxMedia) {
		@content;
	}
}
