// Custom template - https://www.npmjs.com/package/gulp-svg-sprites#advanced-custom-templates
// View output in /src/static/scss/config/_icons.scss

@mixin icon {
	content: '';
	font-size: 1rem;
	pointer-events: none;
	vertical-align: middle;
	display: inline-block;
	background-image: url('../img/svg/sprite.svg');
	background-repeat: no-repeat;
	background-size: 6.25rem 12.5rem;
}

@mixin icon-pinterest {
	background-position: 0rem 0rem;
	width: 6.25rem;
	height: 6.25rem;
}

@mixin icon-twitter {
	background-position: 0rem -6.25rem;
	width: 6.25rem;
	height: 6.25rem;
}



[class^='icon'],
[class~='icon'] {
	position: relative;
	display: inline-block;

	&::before {
		@include icon;
	}
}

.icon-pinterest::before {
	@include icon-pinterest;
}

.icon-twitter::before {
	@include icon-twitter;
}


