{% extends '../layout/layout.njk' %}

{% block content %}
	<style>
		body { padding: 1rem; }
		ul { list-style: none; }
	</style>

	<h1>Templates</h1>

    <ul>
    	<li><a href="templates/home.html">Home</a></li>
    </ul>
{% endblock %}
